<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />
    <title>ANDA The Renaissance Of Enterpreneurship</title>

    <!-- Theme CSS -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <header id="header-nav" class="header">
        <div class="header-grid">
          <a class="logo" href="#"
            ><img src="assets/images/logo.png" alt="ANDA" class="img-fluid"
          /></a>
          <button class="header-toggler" type="button" onclick="navFunction()">
            <span></span><span></span><span></span>
          </button>
          <nav class="navbar">
            <ul>
              <li><a href="/">Home</a></li>
              <li class="active"><a href="/about">About</a></li>
              <li><a href="/guests">Guests</a></li>
            </ul>
            <ul>
              <li><a href="#">Shows</a></li>
              <li><a href="#">Courses</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- End Header -->
      <!-- Banner -->
      <section class="banner banner-inner">
        <div class="layout">
          <h2>About Us</h2>
        </div>
      </section>
      <!-- End Banner -->
      <!-- Article Post Section -->
      <section class="about-article">
        <div class="layout-grid">
          <div class="row">
            <!-- Article Post -->
            <div class="column-s12">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/about-article.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <div class="post-tag">We had left the ground</div>
                </div>
                <div class="post-text text-w70">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt
                    mollitia animi, id est Lucas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est et.
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
          </div>
          <!-- Two Column Article -->
          <div class="row article-col2">
            <!-- Article Post -->
            <div class="column-s6">
              <div class="article-post article-box">
                <div class="post-image">
                  <img
                    src="assets/images/daniel.png"
                    alt="Daniele Viganò"
                    class="img-fluid"
                  />
                  <div class="post-tag">Daniele Viganò</div>
                </div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt
                    mollitia animi, id est Lucas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia est et.
                  </p>
                  <a href="#" class="link">Read more</a>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
            <!-- Article Post -->
            <div class="column-s6">
              <div class="article-post article-box">
                <div class="post-image">
                  <img
                    src="assets/images/andrea.png"
                    alt="andrea.png"
                    class="img-fluid"
                  />
                  <div class="post-tag">Andrea D'Agostini</div>
                </div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt
                    mollitia animi, id est Lucas molestias excepturi sint
                    occaecati cupiditate non provident, similique sunt in culpa
                    qui officia deserunt mollitia est et.
                  </p>
                  <a href="#" class="link">Read more</a>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
          </div>
        </div>
      </section>
      <!-- //Article Post Section -->

      <!-- Press Section -->
      <section class="article article-press">
        <div class="layout">
          <div class="white-line"></div>
          <!-- Title -->
          <div class="row title">
            <div class="column-s12">
              <h2>PRESS</h2>
            </div>
          </div>
          <!-- //Title -->
          <div class="row">
            <!-- Article Column-->
            <div class="column-s4">
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
            </div>
            <!-- //Article Column-->
            <!-- Article Column-->
            <div class="column-s4">
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
            </div>
            <!-- //Article Column-->
            <!-- Article Column-->
            <div class="column-s4">
              <!-- Contact Form -->
              <div class="contact-form">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Full name"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    placeholder="Email address*"
                    class="form-control"
                  />
                </div>
                <div class="form-group form-phone">
                  <select class="form-control">
                    <option>+1</option>
                    <option>+2</option>
                    <option>+3</option>
                    <option>+4</option>
                    <option>+5</option>
                  </select>
                  <input
                    type="text"
                    placeholder="Phone number"
                    class="form-control"
                  />
                </div>
                <div class="form-group form-date">
                  <div class="icon">
                    <img
                      src="assets/images/calendar-icon.svg"
                      class="img-fluid"
                    />
                  </div>
                  <input
                    type="text"
                    placeholder="Schedule a call"
                    class="form-control"
                  />
                </div>
                <div class="form-button text-right">
                  <input
                    type="submit"
                    value="Subscribe"
                    class="btn btn-default"
                  />
                </div>
              </div>
              <!-- //Contact Form -->
            </div>
            <!-- //Article Column-->
          </div>
        </div>
      </section>
      <!-- //Press Section -->
      <!-- Footer Section -->
      <footer class="footer">
        <div class="container">
          <div class="footer-nav">
            <ul>
              <li><a href="#">Ady Production, LLC</a></li>
              <li>Copyright 2020</li>
              <li>All Rights Reserved</li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- //Footer Section -->
    </div>
    <!-- //Wrapper -->

    <!-- JavaScript -->
    <script src="assets/js/custom.js" type="text/javascript"></script>
  </body>
</html>
