<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" type="image/x-icon"  href="assets/images/favicon.ico"  />
    <title>ANDA The Renaissance Of Enterpreneurship</title>

    <!-- Theme CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <header id="header-nav" class="header">
        <div class="header-grid">
          <a class="logo" href="#"
            ><img src="assets/images/logo.png" alt="ANDA" class="img-fluid"
          /></a>
          <button class="header-toggler" type="button" onclick="navFunction()">
            <span></span><span></span><span></span>
          </button>
          <nav class="navbar">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="guests.html">Guests</a></li>
            </ul>
            <ul>
            
               <li><a href="/shows">Shows</a></li>
              <li><a href="/courses">Courses</a></li>
              <li class="active"><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- End Header -->
      <!-- Banner -->
      <section class="banner banner-inner" style="background-image: url('assets/images/contact.jpg');">
        <div class="layout-grid">
          <h2>Get in Touch</h2>
        </div>
      </section>
      <!-- End Banner -->
     
      <!-- Contact Section -->
      <section class="contactSection">
        <div class="layout">
          <div class="row">
            <!-- Article Column-->
            <div class="column-s6">
              <h2 class="title">CONTACT US</h2>
              <p class="text">Lucas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est Lucas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est et.</p>

              <!-- Contact Form -->
              <div class="contact-form">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Full name"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    placeholder="Email address*"
                    class="form-control"
                  />
                </div>
                <div class="form-group form-phone">
                  <select class="form-control">
                    <option>+1</option>
                    <option>+2</option>
                    <option>+3</option>
                    <option>+4</option>
                    <option>+5</option>
                  </select>
                  <input type="text" placeholder="Phone number" class="form-control" />
                </div>
                <div class="form-group form-date">
                  <div class="icon">
                    <img src="assets/images/calendar-icon.svg" class="img-fluid" />
                  </div>
                  <input type="text"  placeholder="Schedule a call"  class="form-control" />
                </div>
                <div class="form-button text-left">
                  <input type="submit" value="Subscribe" class="btn btn-default"  />
                </div>
              </div>
              <!-- //Contact Form -->
            </div>
            <!-- //Article Column-->
            <!-- Article Column-->
            <div class="column-s6">
              <div class="followus">
                <h2 class="title">FOLLOW US</h2>
                <p class="text">Lucas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est Lucas molestias.</p>
                <div class="button">
                  <a href="#" class="btn btn-block btn-red"><img src="assets/images/youtube-icon.svg" class="icon" /> Subscribe to our Youtube Channel</a>
                </div>
              </div>
            </div>
            <!-- //Article Column-->
          </div>
        </div>
      </section>
      <!-- //Press Section -->
      <!-- Footer Section -->
      <footer class="footer">
        <div class="layout">
          <div class="footer-nav">
            <ul>
              <li><a href="#">Ady Production, LLC</a></li>
              <li>Copyright 2020</li>
              <li>All Rights Reserved</li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- //Footer Section -->
    </div>
    <!-- //Wrapper -->

    <!-- JavaScript -->
    <script src="assets/js/custom.js" type="text/javascript"></script>
  </body>
</html>
