<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="assets/images/favicon.ico"
    />
    <title>ANDA The Renaissance Of Enterpreneurship</title>

    <!-- Theme CSS -->
    <link href="/assets/css/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <!-- Wrapper -->
    <div class="wrapper">
      <!-- Header -->
      <header id="header-nav" class="header">
        <div class="header-grid">
          <a class="logo" href="#"
            ><img src="assets/images/logo.png" alt="ANDA" class="img-fluid"
          /></a>
          <button class="header-toggler" type="button" onclick="navFunction()">
            <span></span><span></span><span></span>
          </button>
          <nav class="navbar">
            <ul>
              <li class="active"><a href="index.html">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/guests">Guests</a></li>
            </ul>
            <ul>
              <li><a href="/shows">Shows</a></li>
              <li><a href="/courses">Courses</a></li>
              <li><a href="/contact">Contact</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- End Header -->
      <!-- Banner -->
      <section class="banner">
        <div class="layout-grid">
          <h2>The Renaissance of Enterpreneurship</h2>
        </div>
      </section>
      <!-- End Banner -->
      <!-- Top Article Section -->
      <section class="article-top">
        <div class="layout-grid">
          <div class="row">
            <!-- Top Article -->
            <div class="column-s6">
              <h3>RECENT</h3>
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/post-image.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Almost before we knew it</div>
                </div>
                <div class="post-text text-w80">
                  <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus
                    qui blanditiis praesentium voluptatum deleniti atque
                    corrupti quos dolores et.
                  </p>
                </div>
              </div>
            </div>
            <!-- //Top Article -->
            <!-- Top Article -->
            <div class="column-s6">
              <h3>POPULAR</h3>
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/zoom-background.png"
                    alt="We had left the ground"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">We had left the ground</div>
                </div>
                <div class="post-text text-w80">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa qui officia deserunt
                    mollitia animi, id est et.
                  </p>
                </div>
              </div>
            </div>
            <!-- //Top Article -->
          </div>
        </div>
      </section>
      <!-- End Top Article Section -->
      <!-- Latest Article Section -->
      <section class="article">
        <div class="layout">
          <div class="white-line"></div>
          <!-- Title -->
          <div class="row title">
            <div class="column-s4">
              <h2>LATEST</h2>
            </div>
            <div class="column-s4">
              <p class="text">
                Lucas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in
              </p>
            </div>
            <div class="column-s4 text-right">
              <a href="#" class="link">Learn more</a>
            </div>
          </div>
          <!-- //Title -->
          <div class="row">
            <!-- Article Post-->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/post-image.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">21 Jan 2020 | 4:20</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
            <!-- Article Post -->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/immagine-3.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">8 Feb 2020 | 9:18</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
            <!-- Article Post -->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/zoom-background.png"
                    alt="We had left the ground"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">16 Mar 2020 | 11:21</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
          </div>
        </div>
      </section>
      <!-- //Latest Article Section -->
      <!-- Guests Article Section -->
      <section class="article">
        <div class="layout">
          <div class="white-line"></div>
          <!-- Title -->
          <div class="row title">
            <div class="column-s4">
              <h2>GUESTS</h2>
            </div>
            <div class="column-s4">
              <p class="text">
                Lucas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in
              </p>
            </div>
            <div class="column-s4 text-right">
              <a href="#" class="link">Learn more</a>
            </div>
          </div>
          <!-- //Title -->
          <div class="row">
            <!-- Article Post-->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/immagine-3.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">21 Jan 2020 | 4:20</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
            <!-- Article Post -->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/zoom-background.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">8 Feb 2020 | 9:18</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
            <!-- Article Post -->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/post-image.png"
                    alt="We had left the ground"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">16 Mar 2020 | 11:21</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
          </div>
        </div>
      </section>
      <!-- //Guests Article Section -->
      <!-- BUSINESS Article Section -->
      <section class="article">
        <div class="layout">
          <div class="white-line"></div>
          <!-- Title -->
          <div class="row title">
            <div class="column-s4">
              <h2>BUSINESS</h2>
            </div>
            <div class="column-s4">
              <p class="text">
                Lucas molestias excepturi sint occaecati cupiditate non
                provident, similique sunt in
              </p>
            </div>
            <div class="column-s4 text-right">
              <a href="#" class="link">Learn more</a>
            </div>
          </div>
          <!-- //Title -->
          <div class="row">
            <!-- Article Post-->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/zoom-background.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">21 Jan 2020 | 4:20</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
            <!-- Article Post -->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/post-image.png"
                    alt="Almost before we knew it"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">8 Feb 2020 | 9:18</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
            <!-- Article Post -->
            <div class="column-s4">
              <div class="article-post">
                <div class="post-image">
                  <img
                    src="assets/images/immagine-3.png"
                    alt="We had left the ground"
                    class="img-fluid"
                  />
                  <button class="post-play">
                    <img
                      src="assets/images/play-button.svg"
                      alt="pay"
                      class="img-fluid"
                    />
                  </button>
                  <div class="post-tag">Time well spent</div>
                </div>
                <div class="post-date link">16 Mar 2020 | 11:21</div>
                <div class="post-text">
                  <p>
                    Lucas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in lorem ipsum
                  </p>
                </div>
              </div>
            </div>
            <!-- //Article Post -->
          </div>
        </div>
      </section>
      <!-- //BUSINESS Article Section -->

      <!-- Press Section -->
      <section class="article article-press">
        <div class="layout">
          <div class="white-line"></div>
          <!-- Title -->
          <div class="row title">
            <div class="column-s12">
              <h2>PRESS</h2>
            </div>
          </div>
          <!-- //Title -->
          <div class="row">
            <!-- Article Column-->
            <div class="column-s4">
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
            </div>
            <!-- //Article Column-->
            <!-- Article Column-->
            <div class="column-s4">
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
              <!-- Article Item -->
              <div class="article-item">
                <p>
                  Lucas molestias excepturi sint occaecati cupiditate non
                  provident, similique sunt in
                </p>
                <div class="link"><a href="#">View details</a></div>
              </div>
              <!-- //Article Item -->
            </div>
            <!-- //Article Column-->
            <!-- Article Column-->
            <div class="column-s4">
              <!-- Contact Form -->
              <div class="contact-form">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Full name"
                    class="form-control"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    placeholder="Email address*"
                    class="form-control"
                  />
                </div>
                <div class="form-group form-phone">
                  <select class="form-control">
                    <option>+1</option>
                    <option>+2</option>
                    <option>+3</option>
                    <option>+4</option>
                    <option>+5</option>
                  </select>
                  <input
                    type="text"
                    placeholder="Phone number"
                    class="form-control"
                  />
                </div>
                <div class="form-group form-date">
                  <div class="icon">
                    <img
                      src="assets/images/calendar-icon.svg"
                      class="img-fluid"
                    />
                  </div>
                  <input
                    type="text"
                    placeholder="Schedule a call"
                    class="form-control"
                  />
                </div>
                <div class="form-button text-right">
                  <input
                    type="submit"
                    value="Subscribe"
                    class="btn btn-default"
                  />
                </div>
              </div>
              <!-- //Contact Form -->
            </div>
            <!-- //Article Column-->
          </div>
        </div>
      </section>
      <!-- //Press Section -->
      <!-- Footer Section -->
      <footer class="footer">
        <div class="layout">
          <div class="footer-nav">
            <ul>
              <li><a href="#">Ady Production, LLC</a></li>
              <li>Copyright 2020</li>
              <li>All Rights Reserved</li>
            </ul>
          </div>
        </div>
      </footer>
      <!-- //Footer Section -->
    </div>
    <!-- //Wrapper -->

    <!-- JavaScript -->
    <script src="assets/js/custom.js" type="text/javascript"></script>
  </body>
</html>
