@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');

/* Reset CSS
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline; }

body { background: #ffffff; font-family: 'Lora', serif; font-weight: 400; color: rgba(0,0,0,0.8); font-size: 14px;  line-height: 1;  overflow-x: hidden; }

*,:before, :after{ box-sizing: border-box;}
/* Common CSS
   ========================================================================== */
ol, ul { list-style: none; }

a, .btn { transition: all 0.5s ease; }
a:active, a:hover, a:focus, .btn:focus, .btn:active, .btn:hover { outline: 0; }
a { color: #97179E; text-decoration: none; }
a:focus, a:hover { color: rgba(0,0,0,0.8); text-decoration: none; }

b, strong { font-weight: bold; }
small { font-size: 80%; }
sub, sup { font-size: 72%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.4em; }
sub { bottom: -0.25em; }

img { border: 0; vertical-align: middle; }

hr { box-sizing: content-box; height: 0; }

*:focus { outline: 0; }

svg:not(:root) { overflow: hidden; }

.img-fluid{ max-width: 100%; height: auto; vertical-align: middle;}

h1, h2, h3, .link{font-family: 'Work Sans', sans-serif;}
.link{color: #97179E;}

/****** Common Css ***/
.layout, .layout-grid { max-width: 1110px; width: 100%; margin: auto; padding: 0 15px; position: relative; }
.layout-grid{ max-width: 900px;}

.btn-default{ background: #97179E; border: 1px solid #97179E; border-radius: 4px; cursor: pointer;  color: #FFFFFF; padding: 0.6rem 2rem; font-family: 'Lora', serif; font-size: 16px; font-weight: 500; letter-spacing: 1.14px; line-height: 20px; text-align: center; }
.btn-default:hover, .btn-default:focus ,.btn-default:not(:disabled):not(.disabled):active{ background: rgba(0,0,0,0.8); border-color: rgba(0,0,0,0.8); color: #ffffff;}

.text-right{ text-align: right;}
.text-left{ text-align: left;}
.text-primary{ color: #9A17A1;}
.text-w70{max-width: 70%;}
.text-w80{max-width: 80%;}

/****** Grid Css ***/
.row { display: flex; display: -wbekit-flex; margin: 0 -15px; }
.column-s6, .column-s4, .column-s12,.column-s5, .column-s3, .column-m9, .column-m3{ padding: 0 15px; flex-basis: 100%;  min-width: 100%; }
@media (min-width: 640px){
.column-s6 { flex-basis: 50%; min-width: 50%; }
.column-s4{ flex-basis: 33.33%; min-width: 33.33%; }
.column-s5{ flex-basis: 41.67%; min-width: 41.67%;}
.column-s3{ flex-basis: 25%; min-width: 25%; }
.column-s12{ flex-basis: 100%; min-width: 100%; }
}
@media (min-width: 990px){
.column-m9{ flex-basis: 75%; min-width: 75%; }
.column-m3{ flex-basis: 25%; min-width: 25%; }
}
/*-------------------------------------------------------*/
/*  Header Navigation Css
/*-------------------------------------------------------*/
.header .layout-grid{ text-align: center;}
.header .logo{ position: absolute; left: 0; right: 0; margin: auto; width: 146px; top: 24px; display: inline-block;}
.header .navbar { padding: 37px 0px;  display: flex; display: -webkit-flex; align-items: center;}
.header .navbar ul { display: flex; display: -webkit-flex; justify-content: center; align-items: center; }

.navbar ul > li{ margin: 0 22px;position:relative;align-items: center;}
.navbar ul:first-child, .navbar ul > li:last-child{ margin-right: auto;}
.navbar ul:last-child, .navbar ul > li:first-child{ margin-left: auto;}
.navbar ul > li.active a:before { display: block; content: ""; background: #97179E; height: 6px; position: absolute; top: -35px; width: 100%; }
.navbar ul > li > a {color: rgba(0,0,0,0.8); font-size: 16px; letter-spacing: -0.2px; padding: 0 0.5rem; position: relative; transition: all .35s ease; }
.navbar ul > li.active a, .navbar ul > li > a:hover{ color: #97179E;  font-weight: 600;}

/*-------------------------------------------------------*/
/*  Banner Css
/*-------------------------------------------------------*/
.banner { background: url(../images/immagine.jpg) no-repeat center;  display: flex; display: -webkit-flex; position: relative; min-height: 600px;  }
.banner-inner{ background: url(../images/inner-banner.png) no-repeat center;  min-height: 300px;}
.banner h2 { font-size: 64px; font-weight: 300; line-height: 4.7rem; color: #FFFFFF; text-align: center; }
.article-top{    margin-top: -126px; margin-bottom: 54px;}
.article-top h3{ color: #FFFFFF; font-size: 20px; font-weight: 600; letter-spacing: 2.86px; line-height: 24px; margin-bottom: 10px; }

/*-------------------------------------------------------*/
/*  Article Css
/*-.------------------------------------------------------*/
.article{ margin-bottom: 34px;}
.white-line{ height: 7px; background: #EAE7D2; margin-bottom: 30px; }
.article .title{ margin-bottom: 35px;}
.article .title h2{  color: rgba(0,0,0,0.8); font-size: 40px; font-weight: 600; letter-spacing: 1px; line-height: 47px;}
.article .title .text{color: rgba(0,0,0,0.8);  line-height: 18px;}
.article .title .link{  display: inline-block; line-height: 16px; margin-top: 3px; text-align: right;}
/*-------------------------------------------------------*/
/*  Article Post Css
/*-.------------------------------------------------------*/
.article-post{ margin-bottom: 30px;}
.article-post .post-image { position: relative; }
.article-post .post-image .post-tag { position: absolute; background: rgba(255, 255, 255, 0.8); bottom: 0; left: 0; text-align: left; color: #000000; font-size: 16px; font-weight: 500; letter-spacing: -0.2px; line-height: 20px; padding: 0.22rem 0.75rem; }
.article-post .post-image .post-play { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 54px; width: 54px; background: transparent; border: 0px; cursor: pointer; padding: 0; }
.article-post .post-text{color: rgba(0,0,0,0.8); font-size: 13px; line-height: 18px; margin-top: 14px; }
.article-post .post-date{  font-size: 12px; font-weight: 500; margin-top: 10px; line-height: 14px;}

.article-top .article-post .post-text{ font-size: 14px; margin-top: 20px; }
.article-top .article-post .post-image .post-tag{ font-size: 20px; letter-spacing: -0.25px; padding: 0.47rem 0.75rem;}
.article-top .article-post .post-image .post-play{ width: 69px;  height: 69px;}


/*-------------------------------------------------------*/
/*  Press Article Css
/*-------------------------------------------------------*/
.article-press .title{ margin-bottom: 50px;}
.article-item{ border-bottom: 2px solid #EAE7D2; padding-bottom: 30px; margin-bottom: 30px;}
.article-item p { color: rgba(0,0,0,0.8); line-height: 18px; }
.article-item .link{ margin-top: 18px;}

/*-------------------------------------------------------*/
/*  Contact Form Css
/*-------------------------------------------------------*/
::-webkit-input-placeholder { color: rgba(0,0,0,0.25);}
:-ms-input-placeholder { color: rgba(0,0,0,0.25);}
::placeholder { color: rgba(0,0,0,0.25);}

.contact-form { position: relative; height: calc(100% - 30px); padding-bottom: 50px; }
.contact-form .form-group { margin-bottom: 2.5rem; position: relative; }
.contact-form .form-control { border: 0px; border-bottom: 1px solid #EAE7D2; display: block; font-family: 'Work Sans', sans-serif; width: 100%; color: #000000; font-size: 14px; line-height: 16px; height: 30px;}

.contact-form .form-phone select { position: absolute; width: 40px; padding: 0; border: 0px; opacity: 0.25; }
.contact-form .form-phone input.form-control, .contact-form  .form-date .form-control{ padding-left: 45px;}
.contact-form .form-date .icon { width: 15px; opacity: 0.25; position: absolute; top: 8px; }
.contact-form .form-button {  position: absolute; width: 100%; bottom: 0; right: 0; }

/*-------------------------------------------------------*/
/* Footer Css
/*-------------------------------------------------------*/
.footer{ padding: 40px 0; margin-top: 20px; }
.footer-nav ul{display: flex; display: -webkit-flex;}
.footer-nav ul li{color: rgba(0,0,0,0.5); font-size: 12px; line-height: 20px; margin-right: 20px;}
.footer-nav ul li a{color: rgba(0,0,0,0.5); }
.footer-nav ul li:after {content: "";background: rgba(160, 160, 160, 0.5);width: 1.5px;height: 16px;display: inline-block;vertical-align: middle;margin-left: 20px;}
.footer-nav ul li:last-child:after { display: none; }

/*-------------------------------------------------------*/
/* About Page Css
/*-------------------------------------------------------*/
.about-article{margin-top: 4.5rem; margin-bottom: 3rem;}
.about-article .article-col2{ margin-top: 30px;}
.about-article .article-post .post-tag{ font-size: 32px; letter-spacing: -0.4px; padding: 1.16rem 1rem;}
.about-article .article-post .post-text{font-size: 16px; line-height: 20px;}

.article-box{background-color: #FFFFFF; box-shadow: 10px 10px 30px 0 rgba(221,221,221,0.5);}
.article-box .post-text{ padding: 30px; margin: 0;}
.article-box .post-text .link{ margin: 30px 0 20px; display: inline-block;}


/*-------------------------------------------------------*/
/* Guests Page Css
/*-------------------------------------------------------*/
.layout-guest{ margin-top: 40px;}

.category h2{ font-size: 20px; font-weight: 600; letter-spacing: 2.86px; line-height: 24px; margin-bottom: 8px;}
.category .category-menu li a{ color: rgba(0,0,0,0.8); font-size: 16px; line-height: 40px;}
.category .category-menu li a:hover,.category .category-menu li.active a{ color: #97179E;}
.layout-guest  .article-post .post-image .post-tag { padding: 0.1rem 0.5rem; font-size: 14px; letter-spacing: -0.17px; }
.layout-guest .article-top { margin-top: 0px; }
.layout-guest .article-top h3 { color: #9A17A1; }
.layout-guest .article-top .article-post { width: 89.2%; }
.layout-guest .article-post.right { margin-left: auto; }
.layout-guest .article-top .article-post .post-image .post-tag { font-size: 16px; letter-spacing: -0.2px; padding: 0.28rem 0.75rem; }
.layout-guest .article-top .article-post  .post-text { font-size: 12px; line-height: 15px; margin-top: 17px; }


/*-------------------------------------------------------*/
/* Responsive Css
/*-------------------------------------------------------*/
@media (min-width: 990px) {
.hide-md, .header-toggler{ display: none;}
}

@media (max-width: 990px) {
.row-md{ flex-wrap: wrap;}

.header { padding: 20px 0; }
.header .logo { position: relative; top: 0px; }
.header .layout-grid {text-align: left;} 
.header-toggler, .header-toggler:focus {background: transparent; outline: 0; border: 0; width: 39px; height: 31px; padding: 0 0px; position: relative; float: right; cursor: pointer; z-index: 999; margin-top: 5px; }

.header-toggler span { display: block; width: 33px; height: 4px; margin-bottom: 5px; position: relative; background: #97179E; z-index: 1; transform-origin: 4px 0px; transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),  opacity 0.55s ease; }
.header-toggler span:first-child { transform-origin: 0% 0%; }
.header-toggler span:last-child { transform-origin: 0% 100%; }
.header-collapse .header-toggler span { opacity: 1; transform: rotate(45deg) translate(-2px, -2px); background: #97179E; }
.header-collapse .header-toggler span:nth-last-child(2) { opacity: 0; transform: rotate(0deg) scale(0.2, 0.2); }
.header-collapse .header-toggler span:last-child { opacity: 1; transform: rotate(-45deg) translate(0, 1px); }

.header .navbar { position: absolute; width: 300px; right: -100px; top: 59px; padding: 0; display: block; z-index: 99; list-style-type: none; -webkit-font-smoothing: antialiased; -webkit-transform-origin: 0% 0%; transform-origin: 0% 0%; -webkit-transform: translate(100%, 0); transform: translate(100%, 0); -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); transition: -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), -webkit-transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0); }
.header-collapse .navbar{ -webkit-transform: scale(1.0, 1.0); transform: scale(1.0, 1.0); opacity: 1; }
.header .navbar ul { display: block; }
.header .navbar ul li { margin: 0; padding: 20px; background: #fff; }
.navbar ul > li.active a:before { top: -23px; left: 0.5rem; }

.category { margin-bottom: 3rem; }
.category .category-menu {display: flex;display: -webkit-flex;flex-wrap: wrap;}
.category .category-menu li { margin-right: 10px; }
.category .category-menu li:after {content: "";background: rgba(160, 160, 160, 0.5);width: 1.5px;height: 16px;display: inline-block;vertical-align: middle;margin-left: 10px;}
.category .category-menu li:last-child:after {display:none;}

.layout-guest .article-top .article-post{ width: 100%;}
.text-w70, .text-w80{max-width: 100%;}

}
@media (max-width: 640px) {
.row { flex-wrap: wrap; }
.article .title h2 { margin-bottom: 15px; }
.article-post .post-image { margin: auto; text-align: center; }
.article-post .post-image img { width: 100%; }

.banner h2 { font-size: 3rem; }
.about-article .article-post .post-tag { font-size: 26px; }

}
@media (max-width: 480px) {
   .banner h2 { font-size: 1.9rem; line-height: 2.5rem; }

   .footer { padding: 15px 0; margin: 0px; }
   .footer-nav ul { flex-wrap: wrap; }
   .footer-nav ul li { margin-right: 5px; font-size: 11px; }
   .footer-nav ul li:after { margin-left: 5px; height: 12px; }
}